@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}

<h1><a href="/category">Categories</a> - @Model.Category.Name</h1>

    @foreach (var catInPost in Model.PostsInCategory)
{
    <div class="container">
        <span class="glyphicon glyphicon-book"></span>
        <a href="@catInPost.Url" title="@catInPost.Title">@catInPost.Title</a>
        <small>(@catInPost.Date.ToString("dd MMM yyyy"))</small>
    </div>
}
