@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}

@section featured{
    <div class="blog-header">
        <h1 class="blog-title">Blog.Amit Apple</h1>
        <p class="lead blog-description">Blog by Amit Apple</p>
    </div>
}

    <div class="blog-main">
    @foreach(var postPaged in Model.PostsPaged) {
      <div class="blog-post">
        <h2 class="blog-post-title"><a href="@postPaged.Url">@postPaged.Title</a></h2>
        <p class="blog-post-meta">posted on @postPaged.Date.ToString("dd MMM yyyy")</p>
        @Html.RenderSeries(postPaged)
        @Html.Raw(postPaged.ContentExcerpt)
        <p><a class="btn" href="@postPaged.Url">Read more...</a></p>
      </div>
    }
    </div>

  <!-- Pagination links -->
  <div id="post-pagination" class="pagination">

   
     @if (Model.HasPreviousPage) {
      if (Model.PreviousPage == 1) {
      <p class="previous">
        <a href="/">Previous Page</a>
      </p>
      }
      else {
      <p class="previous">
        <a href="/page@(Model.PreviousPage)">Previous Page</a>
        </p>
      }
    }

    @if (!Model.HasPreviousPage) {
    
      <!--<a href="/">Previous Page</a>-->
    
    }

    @if (Model.HasNextPage) {
    <p class="previous">
      <a href="/page@(Model.NextPage)">Next Page</a>
    </p>
    }

  </div>

