@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.BaseViewModel>
@using System.Collections.Generic
@{
    var keywords = String.Join(",", Model.Keywords);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="last-modified" content="@Model.GeneratedDate" />
    <meta name="keywords" content="@keywords" />
    <title>Blog.Amit Apple</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/stylesheets/prettify.css">
    <link href="/stylesheets/styles.css" rel="stylesheet" media="screen">

    <script type="text/javascript">
        window.appInsights={queue:[],applicationInsightsId:null,accountId:null,appUserId:null,configUrl:null,start:function(n){function u(n){t[n]=function(){var i=arguments;t.queue.push(function(){t[n].apply(t,i)})}}function f(n,t){if(n){var u=r.createElement(i);u.type="text/javascript";u.src=n;u.async=!0;u.onload=t;u.onerror=t;r.getElementsByTagName(i)[0].parentNode.appendChild(u)}else t()}var r=document,t=this,i;t.applicationInsightsId=n;u("logEvent");u("logPageView");i="script";f(t.configUrl,function(){f("//az416426.vo.msecnd.net/scripts/a/ai.0.7.js")});t.start=function(){}}};
        
        appInsights.start("21e48bf6-b6c7-4526-99b0-8afef5a10e20");
        appInsights.logPageView();
    </script>

    @Html.CanonicalUrl()
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img class="img img-circle" src="@("amitapl@outlook.com".EmailToGravatar(80))" /></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a style="font-weight: bold" href="/">Blog.Amit Apple</a></li>
            </ul>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/category">Categories</a></li>
                    <li><a href="/archive">Archive</a></li>
                    <li><a href="/feed.xml">RSS</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>

    @RenderSection("featured", false)

    <div class="container">

        <div class="row">
            @RenderBody()
        </div>

        <hr>

        <footer>
            <p>&copy; 2014 - Powered by <a href="https://github.com/Sandra/Sandra.Snow" rel="generator">Sandra.Snow</a>.</p>
        </footer>
    </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/prettify.js"></script>

    @Html.RenderGoogleAnalytics("UA-34307246-1")

    <script>
        $('pre').addClass('prettyprint');
        !function ($) {
            $(function () {
                window.prettyPrint && prettyPrint()
            })
        }(window.jQuery)
    </script>
</body>
</html>
