@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.BaseViewModel>
@using System.Collections.Generic
@{
    var keywords = String.Join(",", Model.Keywords);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="last-modified" content="@Model.GeneratedDate" />
    <meta name="keywords" content="@keywords" />
    <title>Blog.Amit Apple</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/styles.css" rel="stylesheet" media="screen">

    <script type="text/javascript">
        var appInsights = { queue: [], start: function (n) { function r(n, t) { n[t] = function () { var i = arguments; n.queue.push(function () { n[t].apply(n, i) }) } } var t, i; this.applicationInsightsId = n; this.accountId = null; this.appUserId = null; r(this, "logEvent"); r(this, "logPageView"); t = document.createElement("script"); t.type = "text/javascript"; t.src = "//az416426.vo.msecnd.net/scripts/ai.js"; t.async = !0; i = document.getElementsByTagName("script")[0]; i.parentNode.insertBefore(t, i) } };

        appInsights.start("1b1c1b42-941d-4203-bce4-6b889d277e2a");
        appInsights.logPageView();
    </script>

    @Html.CanonicalUrl()
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img class="img img-circle" src="@("amitapl@outlook.com".EmailToGravatar(80))" /></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a style="font-weight: bold" href="/">Blog.Amit Apple</a></li>
            </ul>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/category">Categories</a></li>
                    <li><a href="/archive">Archive</a></li>
                    <li><a href="/feed.xml">RSS</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>

    @RenderSection("featured", false)

    <div class="container">

        <div class="row">
            <div class="col-lg-9">
                @RenderBody()
            </div>
            <div class="col-sm-2 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module">
                    <h4>Archives</h4>
                    <ol class="list-unstyled">
                        @foreach (var item in Model.MonthYearList)
                        {
                            <li><a href="@item.Url">@item.Title</a></li>
                        }
                    </ol>
                </div>
            </div><!-- /.blog-sidebar -->
        </div>

        <hr>

        <footer>
            <p>&copy; 2014 - Powered by <a href="https://github.com/Sandra/Sandra.Snow" rel="generator">Sandra.Snow</a>.</p>
        </footer>
    </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bootstrap.min.js"></script>
    @Html.RenderGoogleAnalytics("UA-34307246-1")

    <!--    <script type='text/javascript'>
          $(function () {
            $("pre code").parent().each(function () {
              if (!$(this).hasClass("prettyprint")) {
                $(this).addClass("prettyprint");
                a = true
              }
            });

            prettyPrint();
          });
        </script>-->

</body>
</html>
